[submodule "war"]
	path = war
	url = https://gitlab.com/jakob-eschler/data-science/fantasy-football/rfl-group/war.git
[submodule "starter"]
	path = starter
	url = https://gitlab.com/jakob-eschler/data-science/fantasy-football/rfl-group/starter.git
